Django==1.5.1
Jinja2==2.7
MarkupSafe==0.18
gevent==0.13.8
-e git+https://github.com/abourget/gevent-socketio.git#egg=gevent-socketio
gevent-websocket==0.3.6
greenlet==0.4.1
gunicorn==0.17.4
honcho==0.4.2
redis==2.7.6
simplejson==3.3.0
wsgiref==0.1.2
requests==1.2.3
