div.navbar {
  margin-top: 15px;
}

table#buddy-list td > div {
  height: 15px;
  width: 15px;
  border: 1px solid black;
}

div.share {
  margin-top: 18px;
  margin-right: 18px;
}

#dashboard-canvas {
  border: 1px solid black;
}

div.eraser {
	height:50px;
	width:50px;
	display: inline-block;
}

div.pencil {
	height:50px;
	width:50px;
	display: inline-block;
}