{% extends "landing.html" %}
{% load staticfiles %}

{% block media %}
	<script>
		var color = '{{ color_id }}'; // set user's color here.
		window.dashboard_id = '{{ dashboard.dashboard_id }}';
	</script>
	<script src="{% static 'js/lib/easeljs-0.6.1.min.js' %}"></script>
	<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock media %}

{% block content %}
	<div ng-controller='BuddiesController' class="container">
		<div class="span3 pull-left">
			<h2>Buddies</h2>

      {% verbatim %}
			<table class="table table-bordered" id="buddy-list">
				<tr>
					<th>Name</th>
					<th>Color</th>
				</tr>

				<tr ng-repeat='buddy in buddies'>
					<td><p>{{ buddy.username }}</p></td>
					<td><div style="background-color: {{ buddy.color_id }}"></div></td>
				</tr>

			</table>

      {% endverbatim %}
			
		</div>
		<div class="span8 pull-left" id="canvas-container">
			<h2 class="pull-left">Draw Below!</h2>
			<div class="pull-right share"><h4>{{ short_url }}</h4></div>
			<canvas id="dashboard-canvas" width="600" height="350"></canvas>
		</div>
	</div>
{% endblock content %}
