{% extends "landing.html" %}
{% load staticfiles %}

{% block media %}
	<script>
		var color = '{{ color_id }}'; // set user's color here.
		var dashboard_id = '{{ dashboard.dashboard_id }}';
	</script>
	<script src="{% static 'js/lib/easeljs-0.6.1.min.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
{% endblock media %}

{% block content %}
	<div class="container">
		<div class="span3 pull-left">
			<h2>Buddies</h2>
			<table class="table table-bordered" id="buddy-list">
				<tr>
					<th>Name</th>
					<th>Color</th>
				</tr>
				{% for buddy in dashboard.buddies %}
				<tr>
					<td><p>{{ buddy.username }}</p></td>
					<td><div style="background-color: {{ buddy.color_id }}"></div></td>
				</tr>
				{% endfor %}
			</table>
			
		</div>
		<div class="span8 pull-left" id="canvas-container">
			<h2>Draw Below!</h2>
			<canvas id="dashboard-canvas" width="600" height="350"></canvas>
		</div>
		<div>
			<h2>Compartí este Dashboard!</h2>
			<div class="">{{ request.build_absolute_uri }}</div>
		</div>
	</div>
	<script>
	(function() {
		console.log({{ dashboard }});
	})
	</script>
{% endblock content %}
